<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>RevFlix: Movie Review Website</title>
</head>
<body>

    <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container"><h1 class="logo">RevFlix</h1></div>
            <div class="menu-container">
                <ul class="menu-list">
                    <li class="menu-item"><a href="/index" target="_blank" class="active">Home</a></li>
                    <li class="menu-item"><a href="/movies" target="_blank">Top Movies</a></li>
                    <li class="menu-item"><a href="/series" target="_blank">Top Series</a></li>
                    <li class="menu-item"><a href="/review" target="_blank">Review</a></li>
                </ul>
            </div> 
            <div class="login-reg-container">
                <div class="login">Hello, User</div>
                <div class="register">
                    <a href="/register">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content-container">
            <div class="featured-content"
                style="background: linear-gradient(to bottom, rgb(234, 45, 11), #151515),url('image/chains.jpg');">
                <img class="featured-title" src="../img/hereditary.jpg" alt="hereditary">
                <h1 class="about">About Revflix</h1>
                <p class="featured-description">

                    Welcome to RevFlix, the premier website for all things horror! Dive into a world of chills and thrills as we bring you comprehensive reviews of the latest and greatest in horror cinema. From classic spine-tinglers to contemporary supernatural tales, RevFlix is your go-to source for expert analysis and community-driven ratings.

About RevFlix

RevFlix is the final project of an ambitious web development course, showcasing the skills and dedication of its developer. The site is meticulously crafted using HTML, CSS, and EJS to deliver dynamic content seamlessly. Whether you are looking for in-depth reviews, top horror movie lists, or simply a place to discuss your favorite frights, RevFlix has it all.
                    
                </p>
                <button class="featured-button">
                    <a href="/review" class="movie-list-item-button">Do A Review</a></button>
            
            </div>
        </div>
    </div>

</body>
</html>
