<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/movies.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>RevFlix: Movie Review Website</title>
</head>
<body>

    <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container"><h1 class="logo">RevFlix</h1></div>
            <div class="menu-container">
                <ul class="menu-list">
                    <li class="menu-item"><a href="/index" target="_blank">Home</a></li>
                    <li class="menu-item"><a href="/movies" target="_blank" class="active">Top Movies</a></li>
                    <li class="menu-item"><a href="/series" target="_blank">Top Series</a></li>
                    <li class="menu-item"><a href="/review" target="_blank">Review</a></li>
                </ul>
            </div> 
            <div class="login-reg-container">
                <div class="log/rein">Hello, User</div>
                <div class="register">
                    <a href="/register">Logout</a>
                </div>
                
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content-container">
            <div class="featured-content"
                style="background: linear-gradient(to bottom, rgb(234, 45, 11), #151515);">
                <img class="featured-title" src="/img/hereditary.jpg" alt="hereditary">
                <h1 class="about">Hereditary</h1>
                <p class="featured-description">

                    "Hereditary" is a chilling psychological horror film that delves deep into the complexities of family dynamics and the terrifying consequences of inherited trauma. Directed by Ari Aster, the film follows the Graham family as they cope with the aftermath of the death of their secretive and enigmatic grandmother.

As the family begins to unravel cryptic and disturbing secrets about their ancestry, they find themselves haunted by a malevolent force that threatens to tear them apart from within. Through meticulously crafted cinematography and unnerving tension, "Hereditary" explores themes of grief, guilt, and the sinister legacy that can be passed down through generations.

                   
                </p>
                <button class="featured-button">
                    <a href="/review" class="movie-list-item-button">Do A Review</a></button>
            </div>

            <div class="movie-list-container">
                <h1 class="movie-list-title">You Might Already Watched These Movies</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="/img/getout.jpg" alt="s">
                            <span class="movie-list-item-title">Get Out</span>
                            <p class="movie-list-item-desc">A gripping psychological thriller directed by Jordan Peele. The film follows Chris, 
                                a young African American man who visits his white girlfriend's family estate, 
                                only to discover disturbing secrets lurking beneath their seemingly hospitable facade.</p>
                                <button class="movie-list-item-button">
                                    <a href="/review" class="movie-list-item-button">Do A Review</a></button>
                            

                        </div>

                        <div class="movie-list">
                            <div class="movie-list-item">
                                <img class="movie-list-item-img" src="../img/theshiningg.jpg" alt="s">
                                <span class="movie-list-item-title">The Shining</span>
                                <p class="movie-list-item-desc">A haunting psychological thriller directed by Stanley Kubrick. The film follows Jack Torrance,
                                     an aspiring writer and recovering alcoholic, who takes a job as the winter caretaker of the isolated Overlook Hotel.</p>
                                    
                                     <button class="movie-list-item-button">
                                        <a href="/review" class="movie-list-item-button">Do A Review</a></button>
                                
    
                            </div>

                            <div class="movie-list">
                                <div class="movie-list-item">
                                    <img class="movie-list-item-img" src="../img/conjuring.jpg" alt="s">
                                    <span class="movie-list-item-title">Conjuring</span>
                                    <p class="movie-list-item-desc">A spine-chilling supernatural horror film directed by James Wan. 
                                        The story follows Ed and Lorraine Warren, renowned paranormal investigators, who are called to help
                                         the Perron family, who have recently moved into an old farmhouse.</p> 
                                         <button class="movie-list-item-button">
                                            <a href="/review" class="movie-list-item-button">Do A Review</a></button>
                                    
        
                                </div><div class="movie-list">
                                    <div class="movie-list-item">
                                        <img class="movie-list-item-img" src="../img/it.jpg" alt="s">
                                        <span class="movie-list-item-title">IT</span>
                                        <p class="movie-list-item-desc">A chilling horror film directed by Andy Muschietti, "IT" follows a 
                                            group of children in the town of Derry, Maine, who encounter a malevolent entity that takes the 
                                            form of a terrifying clown named Pennywise. 
                                            As children begin to disappear, the group, known as the Losers' Club</p>
                                            <button class="movie-list-item-button">
                                                <a href="/review" class="movie-list-item-button">Do A Review</a></button>
                                        
            
                                    </div><div class="movie-list">
                                        <div class="movie-list-item">
                                            <img class="movie-list-item-img" src="../img/texas.jpg" alt="s">
                                            <span class="movie-list-item-title">Texas Chainsaw</span>
                                            <p class="movie-list-item-desc">A classic horror film directed by Tobe Hooper, "Texas Chainsaw Massacre" 
                                                follows a group of friends who encounter
                                                 a family of cannibals while on a road trip through rural Texas. Led by the iconic Leatherface, 
                                                 a chainsaw-wielding killer</p>
                                                 <button class="movie-list-item-button">
                                                 <a href="/review" class="movie-list-item-button">Do A Review</a></button>

                                            
                
                                        </div>
                    </div>
                </div>
            
            </div>
            </div>


        </div>
    </div>
    </div>

</body>
</html>