<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/series.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>RevFlix: Movie Review Website</title>
</head>
<body>

    <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container"><h1 class="logo">RevFlix</h1></div>
            <div class="menu-container">
                <ul class="menu-list">
                    <li class="menu-item"><a href="/index" target="_blank">Home</a></li>
                    <li class="menu-item"><a href="/movies" target="_blank" >Top Movies</a></li>
                    <li class="menu-item"><a href="/series" target="_blank"class="active">Top Series</a></li>
                    <li class="menu-item"><a href="/review" target="_blank">Review</a></li>
                </ul>
            </div> 
            <div class="login-reg-container">
                <div class="login">Hello, User</div>
                <div class="register">
                    <a href="/register">Logout</a>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="content-container">
            <div class="featured-content"
                style="background: linear-gradient(to bottom, rgb(234, 45, 11), #151515);">
                <img class="featured-title" src="../img/hereditary.jpg" alt="hereditary">
                <h1 class="about">American Horror Story</h1>
                <p class="featured-description">

                    "American Horror Story" is a captivating anthology horror television series created by 
                
                    Ryan Murphy and Brad Falchuk. Each season of the show presents a self-contained storyline 
                    with its own characters, setting, and theme, ranging from haunted houses and asylums to witches and cults.
                     With its blend of supernatural elements, psychological terror, and social commentary, "American Horror Story" 
                     explores the dark and twisted aspects of American society and human nature. Featuring a talented ensemble cast
                      and innovative storytelling, the series has become a staple of contemporary horror television,
                     captivating audiences with its chilling narratives and unsettling imagery.
                   
                </p>
                <button class="featured-button">
                    <a href="/review" class="movie-list-item-button">Do A Review</a></button>
            </div>




            <div class="movie-list-container">
                <h1 class="movie-list-title">You Might Already Watched These Series</h1>
                <div class="movie-list-wrapper">


                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="../img/hh1.jpg" alt="s">
                            <span class="movie-list-item-title">Haunting Of The Hill House</span>
                            <p class="movie-list-item-desc">
                                This Netflix original series is a modern reimagining of Shirley Jackson's classic novel. It follows the Crain family 
                                as they confront their traumatic past and the supernatural forces that haunt them.
                            </p>
                                <button class="movie-list-item-button">
                                    <a href="/review" class="movie-list-item-button">Do A Review</a></button>
                            

                        </div>

                        <div class="movie-list">
                            <div class="movie-list-item">
                                <img class="movie-list-item-img" src="../img/s1.jpg" alt="s">
                                <span class="movie-list-item-title">Stranger Things</span>
                                <p class="movie-list-item-desc">
                                    While primarily a sci-fi series, "Stranger Things" features elements of horror, especially in its portrayal of 
                                    the Upside Down and the creatures that inhabit it. It's available on Netflix.
                                </p>
                                    
                                     <button class="movie-list-item-button">
                                        <a href="/review" class="movie-list-item-button">Do A Review</a></button>
                                
    
                            </div>

                            <div class="movie-list">
                                <div class="movie-list-item">
                                    <img class="movie-list-item-img" src="../img/wd.jpg" alt="s">
                                    <span class="movie-list-item-title">The Walking Dead</span>
                                    <p class="movie-list-item-desc">
                                        While primarily a post-apocalyptic drama, "The Walking Dead" features plenty of 
                                        horror elements with its portrayal of zombies and the horrors of survival in a world 
                                        overrun by the undead.
                                         It's available on various streaming platforms.
                                    </p> 
                                         <button class="movie-list-item-button">
                                            <a href="/review" class="movie-list-item-button">Do A Review</a></button>
                                    
        
                                </div><div class="movie-list">
                                    <div class="movie-list-item">
                                        <img class="movie-list-item-img" src="../img/han.jpg" alt="s">
                                        <span class="movie-list-item-title">Hannibal</span>
                                        <p class="movie-list-item-desc">
                                            is a psychological horror-thriller television series developed by Bryan Fuller. It serves as a prequel to Thomas Harris's novels, 
                                            particularly focusing on the relationship between FBI special 
                                            investigator Will Graham and forensic psychiatrist Dr. Hannibal Lecter, before Lecter's incarceration.
                                        </p>
                                            <button class="movie-list-item-button">
                                                <a href="/review" class="movie-list-item-button">Do A Review</a></button>
                                        
            
                                    </div><div class="movie-list">
                                        <div class="movie-list-item">
                                            <img class="movie-list-item-img" src="../img/bates.jpg" alt="s">
                                            <span class="movie-list-item-title">Bates Motel</span>
                                            <p class="movie-list-item-desc">
                                                A contemporary prequel to Alfred Hitchcock's "Psycho," this series explores the complex relationship between Norman 
                                                Bates and his mother Norma.
                                                 It's available on various streaming platforms.
                                            </p>
                                                 <button class="movie-list-item-button">
                                                 <a href="/review" class="movie-list-item-button">Do A Review</a></button>

                                            
                
                                        </div>
                    </div>
                </div>
            
            </div>
            </div>


        </div>
    </div>
    </div>








</body>
</html>
